body {
	margin: 0;
	padding: 0;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	overflow: hidden;
}
#svg {
	cursor: crosshair;
}

#svg:hover + #cursor {
	opacity: 1;
}

#cursor {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -50px;
	margin-left: -50px;
	width: 100px;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	opacity: 0;
	transition: opacity 0.1s;
}